<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.co.tencil">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@mipmap/tencil"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tencil"
        android:supportsRtl="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:theme="@style/Theme.Tencil"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".resend" />
        <activity android:name="uk.co.tencil.FeaturedSolocompany" />
        <activity android:name="uk.co.tencil.cardviewdesign" />
        <activity android:name="uk.co.tencil.Activate" />
        <activity android:name="uk.co.tencil.Solocompany" />
        <activity android:name="uk.co.tencil.CategoryCardActivity" />
        <activity android:name="uk.co.tencil.ForgetPasswordSuccessMessage" />
        <activity android:name="uk.co.tencil.SetNewPassword" />
        <activity android:name="uk.co.tencil.MakeSelection" />
        <activity android:name="uk.co.tencil.ForgetPassword" />
        <activity android:name="uk.co.tencil.fintechCompany" />
        <activity android:name="uk.co.tencil.soloCompanyFintech" />
        <activity android:name="uk.co.tencil.techCompany" />
        <activity android:name="uk.co.tencil.tech_company" />
        <activity android:name="uk.co.tencil.businessActivity" />
        <activity android:name="uk.co.tencil.socialMedia" />
        <activity android:name="uk.co.tencil.soloCompanyFinance" />
        <activity android:name="uk.co.tencil.financeCompany" />
        <activity android:name="uk.co.tencil.solo_company" />
        <activity android:name="uk.co.tencil.register" />
        <activity android:name="uk.co.tencil.Common.OnBoarding" />
        <activity
            android:name="uk.co.tencil.login"
            android:theme="@style/Theme.Tencil" />
        <activity android:name="uk.co.tencil.questionthirteen" />
        <activity android:name="uk.co.tencil.questiontwelve" />
        <activity android:name="uk.co.tencil.questioneleven" />
        <activity android:name="uk.co.tencil.questionten" />
        <activity android:name="uk.co.tencil.questionnine" />
        <activity android:name="uk.co.tencil.questioneight" />
        <activity android:name="uk.co.tencil.questionseven" />
        <activity android:name="uk.co.tencil.questionsix" />
        <activity android:name="uk.co.tencil.questionfive" />
        <activity android:name="uk.co.tencil.questionfour" />
        <activity android:name="uk.co.tencil.questionthree" />
        <activity android:name="uk.co.tencil.questiontwo" />
        <activity android:name="uk.co.tencil.questionone" />
        <activity android:name="uk.co.tencil.soloCompanyFinance2" />
        <activity android:name="uk.co.tencil.company" />
        <activity android:name="uk.co.tencil.User.UserDashboard" />
        <activity android:name="uk.co.tencil.soloCompanysmedia1" />
        <activity
            android:name="uk.co.tencil.Common.SplashScreen"
            android:theme="@style/Theme.Tencil">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>