<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tencil">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tencil"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tencil"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tencil">
        <activity android:name=".communicationCompanies"></activity>
        <activity android:name=".codingCategory" />
        <activity android:name=".FeaturedBusiness" />
        <activity android:name=".solo_company" />
        <activity android:name=".register" />
        <activity android:name=".Common.OnBoarding" />
        <activity android:name=".login" />
        <activity android:name=".questionthirteen" />
        <activity android:name=".questiontwelve" />
        <activity android:name=".questioneleven" />
        <activity android:name=".questionten" />
        <activity android:name=".questionnine" />
        <activity android:name=".questioneight" />
        <activity android:name=".questionseven" />
        <activity android:name=".questionsix" />
        <activity android:name=".questionfive" />
        <activity android:name=".questionfour" />
        <activity android:name=".questionthree" />
        <activity android:name=".questiontwo" />
        <activity android:name=".questionone" />
        <activity android:name=".AllCategories" />
        <activity android:name=".company" />
        <activity android:name=".User.UserDashboard" />
        <activity android:name=".Common.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>