<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.co.tencil">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/tencilnewlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tencilnewlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".Legal.privacy_policy"></activity>
        <activity android:name=".Businesses.FeaturedBusiness.featuresolopage" />
        <activity android:name=".User.user_profile" />
        <activity android:name=".User.Passwordreset.passwordReset" />
        <activity android:name=".User.Resend.resend" />
        <activity android:name=".Businesses.FeaturedBusiness.FeaturedSolocompany" />
        <activity android:name=".Designs.cardviewdesign" />
        <activity android:name=".Activation.Activate" />
        <activity android:name=".CompanyView.Solocompany" />
        <activity android:name=".Categories.CategoryCardActivity" />
        <activity android:name=".User.ForogttenPassword.ForgetPasswordSuccessMessage" />
        <activity android:name=".User.ForogttenPassword.ForgetPassword" />
        <activity android:name=".CompanyView.solo_company" />
        <activity android:name=".User.Register.register" />
        <activity android:name=".MainActivity.OnBoarding" />
        <activity
            android:name=".User.Login.login"
            android:theme="@style/Theme.Tencil" />
        <activity android:name=".Questions.questionthirteen" />
        <activity android:name=".Questions.questiontwelve" />
        <activity android:name=".Questions.questioneleven" />
        <activity android:name=".Questions.questionten" />
        <activity android:name=".Questions.questionnine" />
        <activity android:name=".Questions.questioneight" />
        <activity android:name=".Questions.questionseven" />
        <activity android:name=".Questions.questionsix" />
        <activity android:name=".Questions.questionfive" />
        <activity android:name=".Questions.questionfour" />
        <activity android:name=".Questions.questionthree" />
        <activity android:name=".Questions.questiontwo" />
        <activity android:name=".Questions.questionone" />
        <activity android:name=".User.UserDashboard" />
        <activity
            android:name=".MainActivity.SplashScreen"
            android:theme="@style/Theme.Tencil">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>